﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
@RenderBody()

@Scripts.Render("~/bundles/jquery")
@RenderSection("scripts", false)

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function() {
        $('.createBooking').on('click',
            function(btn) {
                $.ajax({
                    
                    type: "POST",
                    url: "/Home/CreateBooking",
                    data: '{clientId: "' + btn.target.value + '" }',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    
                    success: function (response) {
                        $('#bookingResult').text(JSON.stringify(response,null,4));
                       
                    },
                    failure: function(response) {
                        $('#bookingResult').text(response.responseText);
                    },
                    error: function(response) {
                        $('#bookingResult').text(response.responseText);
                    }
                });
            });
    });
</script>
</body>
</html>