﻿@model IEnumerable<SwiftBookingTest.Web.Models.Client>
@{
    ViewBag.Title = "Index";
}

<h2>GetSwift Code Test</h2>

@using (Html.BeginForm("AddClient", "Home"))
{
    <div>
        Name: <input type="text" name="Name" value=""/><br/>
        Phone: <input type="text" name="Phone" value=""/><br/>
        Address: <input type="text" name="Address" value=""/><br/>
        <button type="submit">Add person</button>

    </div>
}

<div>
    <h3>Saved people</h3>
    <ul>
        @foreach (var client in Model)
        {
            <li>
                <button class="createBooking" value="@Html.DisplayName(client.ClientId.ToString())">Book with GetSwift</button> 
                @Html.DisplayName(client.Address ?? "Unknown address")
            </li>
        }
    </ul>

</div>
<div  style="background-color: #eee; padding: 20px;">
    Results from the API call go here!
    <pre id="bookingResult">

    </pre>
</div>